@import url("global_vars.css");
@import url("switch.css");

html,
body {
  margin: 0;
  padding: 0;
}

#main-container {
  min-height: 100%;
}

#sidebar-container {
  margin: 0;
  padding: 0;
  float: left;
  box-sizing: border-box;
  width: 30%;
  height: 100vh;
  border: 2px solid var(--txt-color);
  transition: all 0.5s ease;
}

body {
  background-color: var(--bg-color);
  transition: all 0.5s ease;
  color: var(--txt-color);
}

.msg-form {
  box-shadow: none;
}

.msg-form input[type="text"] {
  color: var(--txt-color);
  background-color: var(--bg-lighter);
  border: none;
}

.msg-form input[type="text"]:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.msg-container {
  text-align: left;
  padding: 20px;
  float: right;
  width: 70%;
  min-height: 100vh;
  border: 2px solid var(--txt-color);
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.msg-list {
  list-style-type: none;
  padding-left: 5px;
}
