.cont {
  width: 150px;
  height: 50px;
  background-color: var(--bg-lighter);
  cursor: pointer;
  position: relative;
  border-radius: 30px;

}

.tog {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: var(--txt-color);
  position: relative;
  transition: left 0.5s ease, background-color 0.5s ease;
}

.tog.active {
  left: 100px;
}
